certifi==2026.5.20
charset-normalizer==3.4.7
colorama==0.4.6
idna==3.18
pathlib==1.0.1
PyQt6==6.11.0
PyQt6-Qt6==6.11.1
PyQt6-WebEngine==6.11.0
PyQt6-WebEngine-Qt6==6.11.1
PyQt6_sip==13.11.1
requests==2.34.2
urllib3==2.7.0
